<% content_for :title do %>About<% end %>
<h3>About Kent Kentwell</h3>
<p>He was born in Kent, England. He left Kent, excelled
at the University of Mopery, and served in the Royal Loamshire Regiment. While in
service, he invented the Kent valve used in the processing of unobtainium for
industrial use. With a partner, Granda Fairkent, he founded Kentwell Manufacturing, later
acquired by the Advent Corporation, to develop his discovery for use in the
Turboenkentulator. Mr. Kentwell is now retired and lives in Middlekentshire with a favorite
cat, where he raises Griadium frieda and collects metasyntactic variables.</p>
<p>His favorite quotation is:</p>
<p>Kent ouch this.</p>